    <h1>
        Slikup/profile
    </h1>


    <%if(locals.user.id == profile_user.id){%>
        <!-- if user matches then show the form else show the profile info -->
        <form action="/users/update/<%=profile_user.id%>" method="POST">
        <input type="text" name="name" value="<%=profile_user.name%>" placeholder="Your name" required>
        <input type="text" name="username" value="<%=profile_user.username%>" placeholder="Your username" required>
        <button type="submit">update</button>
        </form>
    <%}else{%>
    <p>
        <%=profile_user.name%>
    </p>
    <p>
        <%=profile_user.username%>
    </p>
    <%}%>
